###COUNTRYNAME###
###REGIONNAME###
<!-- ###TOUR### begin --> <!-- ###TOUR### end -->
###LINK_ITEM### 
###TOURNUMBER### ###TOURNAME###
###TOURLENGTH###
###TOURDURATION###

<!-- ###COUNTRIESLIST### begin -->
<!-- ###COUNTRY### begin -->
###COUNTRYNAME###
<table cellpadding="0" cellspacing="0" border="0" width="100%">
	<!-- ###REGION### begin -->
	<tr><td valign="top" width="20%"><b>###REGIONNAME###</b></td><td valign="top" width="80%"><table cellpadding="0" cellspacing="0" border="0" width="100%"><!-- ###TOUR### begin --><tr><td valign="top" class="bodytext" width="70%">###LINK_ITEM### ###TOURNAME### ###LINK_ITEM###</td><td valign="top" class="bodytext" width="15%">###TOURLENGTH###</td><td valign="top" class="bodytext" width="15%">###TOURDURATION###</td></tr><!-- ###TOUR### end --></table></td></tr>	
	<tr><td colspan="2">&nbsp;</td></tr>
	<!-- ###REGION### end -->
</table>
<!-- ###COUNTRY### end -->
<!-- ###COUNTRIESLIST### end -->


###TOURNAME###
###TOURNUMBER###
###TOURDESCRIPTION###
###TOURLENGTH###
###TOURDURATION###
###TOURIMAGES###
###GPXFILE###
###GOOGLEMAP###
###POINTFILTER###
###ALTITUDEPROFILE###

<!-- ###SINGLEVIEW### begin -->
###TOURNAME###
<table cellpadding="0" cellspacing="3" border="0" width="100%">
	<tr valign="top">
		<td colspan="2">&nbsp;</td>
	</tr>	
	<tr valign="top">
		<td colspan="2" class="tourline">&nbsp;</td>
	</tr>	
	<tr valign="top">
		<td width="20%"><b>Beschreibung:</b></td>
		<td width="80%">###TOURDESCRIPTION###</td>
	</tr>
	<tr valign="top">
		<td colspan="2" class="tourline">&nbsp;</td>
	</tr>	
	<tr valign="middle">
		<td><b>Länge:</p></td>
		<td>###TOURLENGTH###</td>
	</tr>
	<tr valign="top">
		<td colspan="2" class="tourline">&nbsp;</td>
	</tr>	
	<tr valign="middle">
		<td><b>Dauer:</b></td>
		<td>###TOURDURATION###</td>
	</tr>
	<tr valign="top">
		<td colspan="2" class="tourline">&nbsp;</td>
	</tr>
	<tr>
		<td valign="top"><b>Bilder:</b></td>
		<td>###TOURIMAGES###</td>
	</tr>
	<tr valign="top">
		<td colspan="2" class="tourline">&nbsp;</td>
	</tr>
	<tr valign="top">
		<td><b>GPX Datei:</b></td>
		<td>###GPXFILE###</td>
	</tr>	
	<tr valign="top">
		<td colspan="2" class="tourline">&nbsp;</td>
	</tr>
	<tr valign="top">
		<td colspan="2">###GOOGLEMAP###</td>
	</tr>
    <tr valign="top">
		<td><b>Anzeigefilter:</b></td><td>###POINTFILTER###</td>
	</tr>
	<!-- ###ALTITUDEPROFILESUBPART### -->
	<!-- ###ALTITUDEPROFILE### -->
	<tr valign="top">
	    <td colspan="2"><b>Hoehenprofil:</b></td>
	</tr>
	<tr valign="top">	
		<td colspan="2">###ALTITUDEPROFILEIMG###</td>
	</tr>
	<!-- ###ALTITUDEPROFILE### -->
	<!-- ###ALTITUDEPROFILESUBPART### -->	
	<tr valign="top">
		<td align="right" colspan="2"><p class="bodytext"><a href="javascript:history.go(-1);">« zurück</a></p></td>
	</tr>
</table>

<!-- ###SINGLEVIEW### end -->
###TITLE###
###ELEVATION###
###DESCRIPTION###
###IMAGES###
###URL###
<!-- ###MARKER### start -->
###TITLE###
###ELEVATION###
<p class="bodytext">###DESCRIPTION###</p>
###URL###
###IMAGES###
<!-- ###MARKER### end -->
