###COUNTRYNAME###
###REGIONNAME###
<!-- ###TOUR### begin --> <!-- ###TOUR### end -->
###LINK_ITEM### 
###TOURNUMBER### ###TOURNAME###
###TOURLENGTH###
###TOURDURATION###

<!-- ###COUNTRIESSELECT### begin -->
<!-- ###COUNTRY### begin -->
<div class="pm_tours-select">
###COUNTRYNAME###<!-- ###REGION### begin -->
<div id="region">###REGIONNAME###
<select onchange="parent.location.href=this.value">
	<option value="javascript:parent.location.href=window.location">----</option>
<!-- ###TOUR### begin --><option value=" ###VALUE### " > ###TOURNAME### ###TOURLENGTH### ###TOURDURATION###</option><!-- ###TOUR### end -->
</select></div><!-- ###REGION### end -->
</div>
<!-- ###COUNTRY### end -->
<!-- ###COUNTRIESSELECT### end -->

<!-- ###COUNTRIESLIST### begin -->
<!-- ###COUNTRY### begin -->
<div class="pm_tours-list">###COUNTRYNAME###
<table class="pm_tours-table">
	<!-- ###REGION### begin -->
	<tr><td id="region" >###REGIONNAME###</td><td id="tours"><table id="tours"><!-- ###TOUR### begin --><tr><td id="tours">###LINK_ITEM### ###TOURNAME### ###LINK_ITEM###</td><td id="length">###TOURLENGTH###</td><td id="duration">###TOURDURATION###</td></tr><!-- ###TOUR### end --></table></td></tr>	
	<!-- ###REGION### end -->
</table>
</div>
<!-- ###COUNTRY### end -->
<!-- ###COUNTRIESLIST### end -->



###TOURNAME###
###TOURNUMBER###
###TOURDESCRIPTION###
###TOURLENGTH###
###TOURDURATION###
###TOURIMAGES###
###GPXFILE###
###GOOGLEMAP###
###ALTITUDEPROFILE###

<!-- ###SINGLEVIEW### begin -->
<div class="pm_tours-single">
###TOURNAME###

<p>###TOURDESCRIPTION###</p>

<div class="pm_tours-single-images">
###TOURIMAGES###
</div>


<div class="pm_tours-single-data">###GPXFILE### (###TOURLENGTH###, ###TOURDURATION###)</div>

###GOOGLEMAP###

	<!-- ###ALTITUDEPROFILESUBPART### -->
	<!-- ###ALTITUDEPROFILE### -->
<div class="pm_tours-single-altitude">		
###ALTITUDEPROFILEIMG###
</div>
	<!-- ###ALTITUDEPROFILE### -->
	<!-- ###ALTITUDEPROFILESUBPART### -->
	
<div class="pm_tours-single-back">	
<a href="javascript:history.go(-1);">« zurück</a>
</div>
</div>

<!-- ###SINGLEVIEW### end -->
###TITLE###
###ELEVATION###
###DESCRIPTION###
###IMAGES###
###URL###
<!-- ###MARKER### start -->
###TITLE###
###ELEVATION###
<p class="bodytext">###DESCRIPTION###</p>
###URL###
###IMAGES###
<!-- ###MARKER### end -->
