###COUNTRYNAME###
###REGIONNAME###
<!-- ###TOUR### begin --> <!-- ###TOUR### end -->
###LINK_ITEM### 
###TOURNUMBER### ###TOURNAME###
###TOURLENGTH###
###TOURDURATION###

<!-- ###COUNTRIESSELECT### begin -->
<!-- ###COUNTRY### begin -->
<div class="pm_tours-select">
###COUNTRYNAME###<!-- ###REGION### begin -->
<div id="region">###REGIONNAME###
<select onchange="parent.location.href=this.value">
	<option value="javascript:parent.location.href=window.location">----</option>
<!-- ###TOUR### begin --><option value=" ###VALUE### " > ###TOURNAME### ###TOURLENGTH### ###TOURDURATION###</option><!-- ###TOUR### end -->
</select></div><!-- ###REGION### end -->
</div>
<!-- ###COUNTRY### end -->
<!-- ###COUNTRIESSELECT### end -->

<!-- ###COUNTRIESLIST### begin -->
<!-- ###COUNTRY### begin -->
<div class="pm_tours-list">###COUNTRYNAME###
<table class="pm_tours-table">
	<!-- ###REGION### begin -->
	<tr><td id="region" >###REGIONNAME###</td><td id="tours"><table id="tours"><!-- ###TOUR### begin --><tr><td id="tours">###LINK_ITEM### ###TOURNAME### ###LINK_ITEM###</td><td id="length">###TOURLENGTH###</td><td id="duration">###TOURDURATION###</td></tr><!-- ###TOUR### end --></table></td></tr>	
	<!-- ###REGION### end -->
</table>
</div>
<!-- ###COUNTRY### end -->
<!-- ###COUNTRIESLIST### end -->



###TOURNAME###
###TOURNUMBER###
###TOURDESCRIPTION###
###TOURLENGTH###
###TOURDURATION###
###TOURIMAGES###
###GPXFILE###
###GOOGLEMAP###
###ALTITUDEPROFILE###

<!-- ###SINGLEVIEW### begin -->
<div class="pm_tours-single">
###TOURNAME###
<table cellpadding="0" cellspacing="3" border="0" width="100%">
	<tr>
		<td id="head">Beschreibung:</td>
		<td id="data">###TOURDESCRIPTION###</td>
	</tr>
	<tr>
		<td id="head">Länge:</td>
		<td id="data">###TOURLENGTH###</td>
	</tr>
	<tr>
		<td id="head">Dauer:</td>
		<td id="data">###TOURDURATION###</td>
	</tr>
	<tr>
		<td id="head">Bilder:</td>
		<td id="data">###TOURIMAGES###</td>
	</tr>
	<tr>
		<td id="head">GPX Datei:</td>
		<td id="data">###GPXFILE###</td>
	</tr>	
	<tr id="googlemap">
		<td colspan="2">###GOOGLEMAP###</td>
	</tr>
	<!-- ###ALTITUDEPROFILESUBPART### -->
	<!-- ###ALTITUDEPROFILE### -->
	<tr valign="top">
	    <td colspan="2"><b>Hoehenprofil:</b></td>
	</tr>
	<tr valign="top">	
		<td colspan="2">###ALTITUDEPROFILEIMG###</td>
	</tr>
	<!-- ###ALTITUDEPROFILE### -->
	<!-- ###ALTITUDEPROFILESUBPART### -->	
	<tr>
		<td id="back" colspan="2"><a href="javascript:history.go(-1);">« zurück</a></td>
	</tr>
</table>
</div>

<!-- ###SINGLEVIEW### end -->
###TITLE###
###ELEVATION###
###DESCRIPTION###
###IMAGES###
###URL###
<!-- ###MARKER### start -->
###TITLE###
###ELEVATION###
<p class="bodytext">###DESCRIPTION###</p>
###URL###
###IMAGES###
<!-- ###MARKER### end -->
